/* NAVBAR */

.navbar {
    background: white;
     -webkit-box-shadow: 0 2px 15px #999;
    -moz-box-shadow: 0 2px 15px #999;
    box-shadow: 0 2px 15px #999;
    height: 10px;
}

.navbar a {
    color: #8F8F8F !important;
}

.navbar-brand {
    float:none;
}

#logoimg {
    width: 100px;   
}

.nav {
    margin-top: 10px;
}

.nav li {
    display: inline-block;
}

.nav li:hover {
    text-decoration: none;
}

.nav .btn {
    background-color: #317439;
    color: white !important;
}

.nav .btn:hover {
    background-color: white;
    color: #317439 !important;
}

.nav .btn span {
    color: white;
}

.nav .btn span:hover {
    color: #317439;
}

.nav .btn a:hover {
    text-decoration: none;
}



/* BODY CONTENT */

.mainView {
    margin-top: 170px;
}

.brands {
    margin-top: 20px;
}

/* ABOUT PAGE */

.aboutlogo {
    width:200px;
}

/* LOGIN PAGE */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 196px;
    /* height: 96px; */
    margin: 0 auto 10px;
    display: block;
    /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; */
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* BRANDS PAGE */

.mainView .container-fluid .squeezer {
    padding: 0 100px;
}

.mainView .container-fluid .row .left-col {
    float: left;
}

.mainView .container-fluid .row .right-col {
    float: right;
}
.mainView .container-fluid .row .right-col img {
    float: right;
}

.mainView .container-fluid .intro-brands-section {
    max-height: 500px;
}

.mainView .container-fluid .intro-brands-section img {
    max-height: 300px;
}

.mainView .container-fluid .row .placeholder {
    margin-top: 70px;
    padding: 2em 0;
}

.mainView .container-fluid .row .placeholder .brands-holder-one {
    border: 1px dashed black;
    height: 100px;
}

.mainView .container-fluid .advert-video {
    margin-top: 70px;
}

.mainView .container-fluid .row .check-it-btn {
    margin-top: 20px;
}

.mainView .container-fluid .why-axle {
    margin-top: 70px;
}

.mainView .container-fluid .why-axle .placeholder-block {
    background-color: green;
    color: white;
    height: 300px;
    margin-top: 50px;
    
}

.mainView .container-fluid .why-axle .line-break {
    border: 10px solid black;
    height: 300px;
}